@page "/"

<div class="splash article">

</div>

<div class="section instagramBlock">

</div>

<div class="section">
    <p>Product Block</p>
    <p>Show some interesting products here!</p>
</div>

<div class="section">
    <p>Product Block</p>
    <p>Show some interesting products here!</p>
</div>

<div class="section">
    <p>Product Block</p>
    <p>Show some interesting products here!</p>
</div>
<div class="section">
    <p>Product Block</p>
    <p>Show some interesting products here!</p>
</div>
<div class="section">
    <p>Product Block</p>
    <p>Show some interesting products here!</p>
</div>

<div class="section">
    <p>Product Block</p>
    <p>Show some interesting products here!</p>
</div>
<div class="section">
    <p>Product Block</p>
    <p>Show some interesting products here!</p>
</div>