@page "/mailinglist"

<h1>This is a mailing list</h1>

<p>Please sign up below.</p>

<form method="post">
    <fieldset>
        <legend>Sign Up</legend>

            <div class="form-group row">
                <label for="FirstName" class="col-sm-2 col-form-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" name="FirstName" value="" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label for="Surname" class="col-sm-2 col-form-label">Surname:</label>
                <div class="col-sm-10">
                    <input type="text" name="Surname" value="" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label for="Email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input type="email" name="Email" value="" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="button" value="Submit" class="btn btn-primary" />
            </div>

    </fieldset>
</form>


<!-- Design for popup mailing list sign ups -->

<div role="alert" aria-live="assertive" aria-atomic="true" class="toast">
    <div class="toast-body">
        <form method="post" class="form-inline">

            <label for="inlineFormInputFirstName2" class="sr-only">First Name</label>
            <input type="text" id="inlineFormInputName2" class="form-control mb-2 mr-sm-2" placeholder="First Name">

            <label for="inlineFormInputSurname2" class="sr-only">Surname</label>
            <input type="text" id="inlineFormInputSurname2" class="form-control mb-2 mr-sm-2" placeholder="Surname">

            <label for="inlineFormInputEmail2" class="sr-only">Email</label>
            <input type="email" id="inlineFormInputEmail2" class="form-control mb-2 mr-sm-2" placeholder="Email">

            <button type="submit" class="btn btn-primary mb-2">Submit</button>

        </form>
    </div>
</div>

