<ul class="nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="products">
            Login
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="about">
            Create Account
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="events">
            Cart
            <!-- Include Cart Icon -->
        </NavLink>
    </li>
    <li class="nav-item">
        <!-- Search function here somewhere -->
    </li>
</ul>
