@inherits LayoutComponentBase

<div class="main">
    <div class="header">

        <img src="images/logo.jpg" alt="Insp Logo" class="logo" />
        <NavMenu />
        <SearchBlock />
    </div>

    <div class="content px-4">
        @Body
    </div>


</div>
<footer class="footer">
    <Footer />
</footer>