@* <ul class="nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="products">
            Products
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="about">
            About
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="events">
            Events
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="contacts">
            Contact
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="cart">
            Cart
        </NavLink>
    </li>
</ul> *@
